<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/error.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="grid">
            <div class="illustration">
                <div>
                    <img src="../static/images/undraw_warning_cyit.svg" alt="">
                </div>
            </div>
            <div class="error"><h1>404</h1></div>
            <div class="errorText"><span>Not Found</span></div>
        </div>
    </main>
</body>
</html>